<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">



  <!-- Primary Meta Tags -->
  <title>GooCollage - live collage from your Google Album</title>
  <meta name="title" content="GooCollage - live collage from your Google Album">
  <meta name="description" content="GooCollage.com - this application with which you can easily and quickly make a live collage from your Google album, and share with friends">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://goocollage.com/">
  <meta property="og:title" content="GooCollage - live collage from your Google Album">
  <meta property="og:description" content="GooCollage.com - this application with which you can easily and quickly make a live collage from your Google album, and share with friends">
  <meta property="og:image" content="ScreenShot.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://goocollage.com/">
  <meta property="twitter:title" content="GooCollage - live collage from your Google Album">
  <meta property="twitter:description" content="GooCollage.com - this application with which you can easily and quickly make a live collage from your Google album, and share with friends">
  <meta property="twitter:image" content="ScreenShot.png">



</head>

<body style="touch-action: manipulation;">
  <!-- DO NOT touch the following DIV -->
  <div id="q-app">
    Loading... Please stand by.
  </div>
</body>

</html>
